<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div>
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div>
                {{ form.phone.label_tag }}
                {{ form.phone }}
                {{ form.phone.errors }}
            </div>
            <div>
                {{ form.password.label_tag }}
                {{ form.password }}
                {{ form.password.errors }}
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
