<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<h2>Create account</h2>

<form method="post" enctype="multipart/form-data">
    {{ form.non_field_errors }}

    <p>
        {{ form.first_name.label_tag }}<br>
        {{ form.first_name }}
    </p>

    <p>
        {{ form.last_name.label_tag }}<br>
        {{ form.last_name }}
    </p>

    <p>
        {{ form.phone.label_tag }}<br>
        {{ form.phone }}
    </p>

    <p>
        {{ form.email.label_tag }}<br>
        {{ form.email }}
    </p>

    <p>
        {{ form.date_of_birth.label_tag }}<br>
        {{ form.date_of_birth }}
    </p>

    <p>
        {{ form.gender.label_tag }}<br>
        {{ form.gender }}
    </p>

    <p>
        {{ form.language.label_tag }}<br>
        {{ form.language }}
    </p>

    <p>
        {{ form.color.label_tag }}<br>
        {{ form.color }}
    </p>

    <p>
        {{ form.image_file.label_tag }}<br>
        {{ form.image_file }}
    </p>

    <p>
        {{ form.password.label_tag }}<br>
        {{ form.password }}
    </p>

    <p>
        {{ form.password_confirm.label_tag }}<br>
        {{ form.password_confirm }}
    </p>

    <button type="submit">Create user</button>
</form>

</body>
</html>
